* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #3F2E3E;
    display: flex;
    font-family: "Montserrat", sans-serif;
    justify-content: flex-end;
  
}
/*contenedor imagen+texto sup+tex inf*/
.container {
    border: 5px solid rgb(12, 9, 9);
    width: 52rem;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
   
}
/*titulo generador meme*/
header {
    background-color: rgb(16, 6, 26);
    color: #EFE1D1;
    text-align: center;
    font-family: 'Kablammo', cursive;
    padding: 10px;
  
}

button {
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color: grey;
    
}
.download-btn, .restablecer-btn{
    margin-left: auto;
  margin-right: auto;
  display: block;
}
.meme-container {
    width: 100%;
    height: 40rem;
    background-color: fuchsia;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.textoSuperior {
    height: 4rem;

    color: antiquewhite;
    text-align: center;
    padding: 22px;
}
.meme-img {
    height: 31rem;
    background-color: #3f2e3e;
}

.textoInferior {
    height: 4rem;
    color: antiquewhite;
    text-align: center;
    padding-top: 22px;
}
.text-container{
    background-color: #A78295;
    color: #331d2c;
    font-size: 30px;

}
.contenedor_aside {
    font-size: 14px;
    width: 16rem;
    padding: 0.5rem;
    margin: 10px 10px;
    justify-content: center;
    background-color: #141616;
    border: 3px solid #383838;
    color: #ffffff !important;
    border-radius: 10px;
}
input {
    padding: 10px;
    display: block;
}
.color-input {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
}
.color-input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}
.color-input::-webkit-color-swatch-wrapper {
    border-radius: 50%;
    padding: 0;
}
.aside-imagen {
    text-align: left;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.aside-texto {
    display: none;
}
main {
    justify-content: center;
    align-items: center;
}
